$color-primary: #449c75; 
$color-primary-dark: #3b5453; 

$color-secondary: #426276; 
$color-secondary-dark: #1d2b34; 

$color-tertiary: #d7655b;
$color-tertiary-dark: #c53c30; 

$color-white: #ebebeb; 
$color-black: #0e1111; 
$color-gray: #777;
$color-gray-dark-1: #999;
$color-gray-dark-2: #333;