a:link {
    text-decoration: none;
    float: right; 
    margin-right: 2rem;
}


.icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: $color-primary;
    

    &--home {
        height: 3rem;
        width: 3rem;
        fill: $color-primary; 
    }

    &--trash {
        height: .90rem;
        width: .90rem; 
        fill: $color-primary; 
    }

    &--edit {
        height: .90rem;
        width: .90rem; 
        fill: $color-primary; 
    }

    &--login {
        margin-top: .5rem; 
        margin-right: .25rem;
        height: 2.25rem;
        width: 2.25rem;
        fill: $color-primary;
    }

    &--signup {
        margin-top: .5rem; 
        margin-right: .45rem;
        height: 2rem;
        width: 2rem;
        fill: $color-primary;
    }
}