.message-list{
    
    &__box{
        background-image: url(./img/so-white.png);
        color: $color-black;
        max-height: 70vh;
        overflow: scroll;
        overflow-x: hidden;
        width: auto; 
        border: 2px solid $color-gray-dark-2;
        margin: 2rem; 
    }

    &__ul {
        list-style: none; 
    }

    &__li {
        text-align: left;
        margin-left: 1rem; 

        &:last-child {
            margin-bottom: 7rem;
        }
    }
}