.message-list{
    
    &__box{
        background-image: url(./img/so-white.png);
        color: $color-black;
        height: 50rem;
        width: auto; 
        border: 2px solid $color-gray-dark-2;
        margin: 2rem; 
        
        ul {
            list-style: none; 
        }

        li {
            text-align: left;
            margin-left: 1rem; 
        }
    }
}