.nav {
    display: flex;
    margin: 1rem; 
    align-content: center;
    justify-content: flex-end;

    &__link-box {
        display: flex;
        align-content: center;
    }

    &__link{  
        border-radius: 5rem; 
        padding: .5rem; 
        font-size: $text-medium;
        margin-right: 1.5rem;
        text-decoration: none;
        color: $color-secondary;
    }
}