@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBlurredLeft {
  0% {
    transform: translateX(-1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0; }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1; } }

@keyframes slideInBlurredRight {
  0% {
    transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
    transform-origin: 0% 50%;
    filter: blur(40px);
    opacity: 0; }
  100% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  padding: 3rem;
  text-align: center; }

body {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #333; }

.heading-primary {
  color: #ebebeb;
  text-transform: lowercase;
  backface-visibility: hidden; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 800;
    letter-spacing: 1.5rem;
    animation-name: moveInBlurredLeft;
    animation-duration: 1.2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: .5rem;
    animation: slideInBlurredRight 1.2s ease-out; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: lowercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #449c75, #3b5453);
  justify-content: center;
  -webkit-background-clip: text;
  color: transparent;
  transition-property: all, .2s;
  letter-spacing: .2rem; }
  .heading-secondary:hover {
    transform: skewY(1deg) skewX(3deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(14, 17, 17, 0.2); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-bottom: 8rem !important; }

.u-margin-top-huge {
  margin-bottom: 10rem !important; }

.u-float-left {
  float: left; }

.btn {
  border-radius: 2rem;
  border: none;
  padding: 1rem 1.5rem;
  background-color: #815F6B;
  color: #ebebeb;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem; }
  .btn:hover {
    background-color: #B1959F;
    color: #333;
    box-shadow: 0 1rem 2rem rgba(14, 17, 17, 0.4);
    transform: translateY(-2px); }
  .btn:active {
    box-shadow: 0 1rem 1rem rgba(14, 17, 17, 0.25);
    transform: translateY(0); }
  .btn--small {
    padding: .5rem 1rem;
    font-size: 1rem; }
  .btn--delete {
    font-size: 1.25rem;
    padding: .25rem .75rem;
    margin-left: 1rem; }
  .btn--icon {
    background-color: transparent; }
    .btn--icon:hover {
      background-color: #eee;
      box-shadow: 0 1rem 2rem rgba(14, 17, 17, 0.4);
      transform: translateY(-2px); }

.form-container
.form {
  background-image: linear-gradient(to right bottom, rgba(59, 84, 83, 0.7), rgba(68, 156, 117, 0.7));
  padding: 6rem;
  height: auto;
  width: 89vw;
  position: absolute;
  left: 5%;
  color: #333; }
  .form-container
.form__group:not(:last-child) {
    margin-bottom: 1rem; }
  .form-container
.form__input {
    font-size: 1.5rem;
    font-family: inherit;
    color: inherit;
    padding: .5rem 1rem;
    border-radius: 2px;
    background-color: rgba(235, 235, 235, 0.9);
    border: none;
    border-bottom: 3px solid transparent;
    width: 100%;
    display: block; }
  .form-container
.form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(33, 33, 33, 0.25);
    border-bottom: 3px solid #B1959F; }
  .form-container
.form__input:focus:invalid {
    border-bottom: 3px solid #815F6B; }
  .form-container
.form__label {
    font-size: 1.2rem;
    color: #815F6B;
    font-weight: 700;
    margin-top: .7rem;
    display: block;
    transition: all, .3s; }
  .form-container
.form__input:placeholder-shown + .form-container
.form__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem); }

.icon {
  height: 2.25rem;
  width: 2.25rem;
  fill: #449c75; }
  .icon--home {
    height: 3rem;
    width: 3rem;
    fill: #449c75; }

.message-list__box {
  background-image: url(./img/so-white.png);
  color: #0e1111;
  height: 50rem;
  width: auto;
  border: 2px solid #333;
  margin: 2rem; }
  .message-list__box ul {
    list-style: none; }
  .message-list__box li {
    text-align: left;
    margin-left: 1rem; }

.popup {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(14, 17, 17, 0.3);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s; }
  @supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
    .popup {
      -webkit-backdrop-filter: blur(10px);
      backdrop-filter: blur(10px); } }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #ebebeb;
    box-shadow: 0 2rem 4rem rgba(14, 17, 17, 0.8);
    border-radius: 3px;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s; }
  .popup__left {
    width: 33.333333%;
    display: table-cell;
    vertical-align: middle; }
  .popup__right {
    width: 66.6666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid #eee;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hypens: auto;
    hyphens: auto; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    color: #999;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    transition: all .2s;
    line-height: 1rem; }
  .popup__close:hover {
    color: #449c75; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(68, 156, 117, 0.8), rgba(59, 84, 83, 0.8)), url(./img/hero.jpg);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__text-box {
    position: absolute;
    top: 40%;
    left: 30%;
    transform: translate(-50%, -50%);
    text-align: left; }
  .header__btn {
    position: absolute;
    top: 80%;
    right: 10%; }

.messanger {
  background-color: #f7f7f7;
  padding-top: 5rem; }
  .messanger__header {
    display: flex;
    justify-content: center;
    align-content: center; }
